{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>   --}}

<div class="row">
    <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
        <div id="success" class="alert alert-success" {{#if noMessage}}hidden{{/if}}>
            {{ successMsg }}
        </div>
    </div>
</div>

{{!-- we willen door de producten loopen om ze te renderen, maar we weten niet hoeveel het er zijn en we willen ze per 3 in een row krijgen, niet meer --}}

{{# each products }}
    <div class="row">

        {{# each this }}
        {{!-- this is een hbs-keywoord dat verwijst naar het huidige element (hier dus de kortere trioarray) binnen de array die de buitenste each aan het behandelen is. Als ik het goed begrijp tenminste --}}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                <img src="{{ this.imagePath }}" alt="{{ this.title }}" class="img-responsive">
                <div class="caption">
                    <h3>{{ this.title }}</h3>
                    <p class="description">{{ this.description }}</p>
                    <div class="clearfix">
                        <div class="price pull-left">{{ this.price }}</div>
                        <a href="/add-to-cart/{{this._id}}" class="btn btn-success pull-right" role="button">Add to shopping cart</a>
                    </div>
                </div>
                </div>
            </div>

        {{/each}}
    </div>

{{/each}}